body {
  background-color: #eeeeee;
}

/* header */

header {
  background-color: #292929;
  color: #fff;
  text-align: center;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
}

/* main */

main {
  padding: 20px;
}

/* ----- form */

form {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
}

input {
  padding: 10px 10px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  background-color: #c2c2c2;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3 ease-in-out;
}

button:hover {
  filter: brightness(0.8);
  transform: scale(1.03);
}

/* ----- card */

.card.hidden {
  display: none;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  justify-items: center;
  /* flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; */
  /* width: 100%; */
}

.card {
  /* display: flex;
  flex-direction: column;
  position: relative; */
  background-color: #fff;
  width: 90%;
  max-height: 750px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  filter: drop-shadow(4px 3px 4px #8a8a8a);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.img-box {
  margin-bottom: 20px;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
}

.img-box {
  margin-bottom: 20px;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 52px;
}

/* ----- movie-card-footer */

.movie-card-footer {
  align-items: center;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
}

/* 반응형 */

@media (max-width: 1024px) {
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  }
}
@media (max-width: 768px) {
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  }
  input {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(80%, auto));
  }
}
