/* header */

header {
  background-color: blue;
  color: #fff;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

/* main */

main {
  height: 100%;
  padding: 20px;
  background-color: #eee;
}

/* ----- form */

form {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
}

input {
  padding: 10px 10px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  background-color: #c2c2c2;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

/* ----- card */

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  max-height: 800px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.img-box {
  margin-bottom: 20px;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
}
/* header */

header {
  background-color: blue;
  color: #fff;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

/* main */

main {
  height: 100%;
  padding: 20px;
  background-color: #eee;
}

/* ----- form */

form {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
}

input {
  padding: 10px 10px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  background-color: #c2c2c2;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

/* ----- card */

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 18%;
  max-height: 800px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.img-box {
  margin-bottom: 20px;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
}

/* 반응형 */

@media (max-width: 1024px) {
  .card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .card {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
