body {
  background-color: #eeeeee;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 20px;
}

header h1,
.menu {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.menu {
  color: #ffce65;
}

header h1:hover,
.menu:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
}

nav {
  /* width: 70%; */
  padding: 20px;
  font-size: 1.5rem;
}

/* main */

main {
  padding: 0 20px;
}

/* ----- form */

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

form label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}

input {
  padding: 10px 10px;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}

.bold {
  font-size: 1.3rem;
  color: rgb(150, 1, 1);
}

button {
  background-color: #c2c2c2;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3 ease-in-out;
}

button:hover {
  filter: brightness(0.8);
  transform: scale(1.03);
}

/* ----- card */

.card.hidden {
  display: none;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  justify-items: center;
  /* flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; */
  /* width: 100%; */
}

.card {
  /* display: flex;
  flex-direction: column; */
  background-color: #fff;
  width: 90%;
  max-height: 750px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  filter: drop-shadow(4px 3px 4px #8a8a8a);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.img-box {
  margin-bottom: 20px;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
}

.img-box {
  margin-bottom: 20px;
}

.img-box img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 52px;
}

/* ----- movie-card-footer */

.movie-card-footer {
  align-items: center;
  position: absolute;
  bottom: 20px;
  font-weight: bold;
}

/* Top button */
.top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background-color: #800000;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  border-radius: 50px;
  cursor: pointer;
}

.show {
  display: block;
}

/* 반응형 */

@media (max-width: 1024px) {
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  }
  .form-section {
    flex-direction: column;
  }
  form {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: 100%;
  }
  h1 {
    margin-bottom: 10px;
  }
  nav {
    padding: 0;
    font-size: 1rem;
  }
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  }
  form {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .form-section {
    padding: 5px;
  }
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(80%, auto));
  }
  form label,
  label .bold {
    font-size: 0.8rem;
    font-weight: bold;
  }
  input {
    width: 50%;
  }
}
